body {
  margin: 0;
  padding: 0;
  width: 30rem;
  background: #333;
  color: #eee;
  font-size: 100%;
  line-height: 1rem;
  font-family: Roboto, system-ui, sans-serif;
}
button {
  font-family: Roboto, system-ui, sans-serif;
}
h1 {
  padding: 1rem;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.75rem;
  opacity: .75;
  letter-spacing: .125rem;
}
h2 {
  padding: 1rem;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  font-size: .75rem;
  opacity: .75;
}
h3 {
  padding: 0;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  font-size: .75rem;
  opacity: .75;
}
form {
  font-size: 0.75rem;
  padding: 1rem;
}
.card {
  font-size: 0.75rem;
}
label {
  display: block;
  margin-bottom: .25rem;
}
select {
  width: 100%;
  background: #000;
  color: #eee;
  box-sizing: border-box;
  border: 1px solid #888;
  border-radius: 0;
}
#status {
  padding: 1rem;
}
#midi-events {
  border: 1px solid #000;
  height: 16px;
  width: 256px;
}
#test-led {
  position: absolute;
  top: 2px;
  right: 2px;
}
